<section class="container" [ngClass]="{'form-shadow': registrationForm.touched}">
  <header>Registration Form</header>

  <form class="form" (ngSubmit)="onFormSubmitted()" #registrationForm="ngForm">
    <div class="column">
      <div class="input-box">
        <input type="text" placeholder="First Name" name="firstname" [(ngModel)]="firstname" required #fname="ngModel"/>
        <div>
          <small *ngIf="fname.invalid && fname.touched">*First Name is required field</small>
          <span *ngIf="firstname">You Entered: {{firstname}}</span>
        </div>
      </div> 

      <div class="input-box">
        <input type="text" placeholder="Last Name" name="lastname" [(ngModel)]="lastname" required #lname="ngModel"/>
        <div>
          <small *ngIf="lname.invalid && lname.touched">*Last Name is required field</small>
          <span *ngIf="lastname">You Entered: {{lastname}}</span> 
        </div>
      </div>
    </div>    

    <div class="input-box">
      <input type="text" placeholder="Email" name="email" [(ngModel)]="emailAddress" required email #email="ngModel"/>
      <div>
        <small *ngIf="email.invalid && email.touched">*Entered Email is not valid</small>
        <span *ngIf="emailAddress">You Entered: {{emailAddress}}</span> 
      </div>
    </div>

    <div class="column">
      <div class="input-box">
        <input type="number" placeholder="Phone Number" name="phone" ngModel/>
      </div>
      <div class="input-box">
        <input type="date" placeholder="Date of Birth" name="dob" ngModel required #userdob="ngModel"/>
      </div>
    </div>

    <div class="input-box">
      <input type="text" placeholder="username" name="username" ngModel required  #username="ngModel"/>
      <div>
        <small *ngIf="username.invalid && username.touched">*User Name is required field</small>
      </div>
      <button class="btn-gen-username" [disabled]=" fname.invalid || lname.invalid || userdob.invalid" (click)="generateUserName()">
        Create a Username
      </button>
    </div>

    <div class="gender-box">
      <h3>Gender</h3>
      <div class="gender-option">
        <div class="gender" *ngFor="let gen of genders">
          <input type="radio" [id]="gen.id" [name]="gen.value" checked ngModel/>
          <label for="1"> {{gen.display}} </label>
        </div>
      </div>
    </div>

    <div class="input-box address" ngModelGroup="address" #addr="ngModelGroup">
      <label>Address</label>
      <input type="text" placeholder="Street address" name="street1" ngModel  required/>
      <input type="text" placeholder="Street address line 2" name="street2" ngModel required/>
      <div class="column">
        <div class="select-box">
          <select name="country" ngModel>
            <option hidden>Country</option>
            <option>America</option>
            <option>Japan</option>
            <option>India</option>
            <option>Nepal</option>
          </select>
        </div>
        <input type="text" placeholder="City" name="city" ngModel required/>
      </div>
      <div class="column">
        <input type="text" placeholder="Region" name="region" ngModel />
        <input type="number" placeholder="Postal code" name="postal" ngModel required/>
      </div>
    </div>
    <small *ngIf="addr.invalid && addr.touched">*Some of the address fields does not contain valid value</small>
    <input type="submit" value="Submit" class="submit-btn" [disabled]="registrationForm.invalid"> 
  </form>
</section>